# DISCORD
DISCORD_BOT_TOKEN=""
DISCORD_BOT_ID=""
DISCORD_APPLICATION_ID=""

# vars
PORT=

# DB
DB_PASSWORD=""
DB_USER=""
DB_HOST=""
DB_PORT=""
DB_NAME=""

# GUILD
GUILD_TESTS_ID=""
GUILD_MAIN_ID=""

# LOGS
LOG_LEVELS="DEBUG,INFO,WARN,ERROR"

# AI
GEMINI_API_KEY=""
